@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

/* Css Style */
  body {
    background:#ffffff;
    text-align: center;
    font-family: arial, sans-serif ;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

/* Flex-box Control */
  .sec {
      flex-grow: 1;
  }
  .sec1 {
    font-size: 13px;
    list-style-type: none;
    display: block;
  }

/* List control */
  .sec-ul {
    float: right
  }

  li {
    display: inline-block;
  }

  a:link, a:visited {
    color: #000000;
    text-decoration: none;
  }

  a:hover, a:active {
    color: #000000;
    text-decoration: underline;
  }

/* Button Style */  
  .search-button {
    font-family: Arial,sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
  }

/* Footer */
  .sec5 {
      background-color: #DADCE0;
      opacity: 0.54;
  }

  .sec5 li {
    display: inline;
}

  .footer-stack {
    display: flex;
  }

  .footer-selection{
      flex: 1;
  }

  .footer-selection:first-child{
    text-align: left;
  }

  .footer-selection:nth-child(2){
    text-align: right;
  }

  .user-country {
      text-align: left;
      padding: 15px 30px;
      font-size: 15px;
  }



 