@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

/* Css Style */
html, body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
    margin: 0; /* Removes the space created by the margin */
}

.container {
    display: flex; /* Turn on flexbox */
    flex-direction: column; /* Make direction vertical */
    height: 100vh; /* 100vh means the flexbox will extend to end of screen*/
    align-items: center; /* Makes all content in the flexbox align to center */
}

.nav {
    margin-left: auto; /* Pushes the Navbar to the right because it gave all remaining space to the left margin */
}

.nav-selection {
    display: flex; /* Turn on flexbox */
    flex-direction: row; /* Flex sideways */ 
    align-items: center;
}

.nav-selection a {
    opacity: 0.55;
    color: #000000;
    padding-left: 15px;
}

.app-icon {
    padding-right: 15px;
}

.nav-selection a:link {
    text-decoration: none;
}

.nav-selection a:hover {
    text-decoration: underline;
}

#sign-in {
    color: #fff;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background-color: #4584f0;
    padding: 0 12px;
    line-height: 28px;
    -webkit-border-radius; 2px;
    margin-right: 30px;
    opacity: 1;
}

.google-logo {
    height: 92px;
    width: 272px;
    padding-top: 90px;
    padding-bottom: 30px;
}

.google-mic {
    height: 24px;
    width: 24px;
    padding: 10px 10px 10px 0px;
}

#search-form {
    display: flex;
    flex-direction: row;
}

#search-form span {
    color: #9aa0a6;
    height: 24px;
    width: 24px;
    padding: 10px 0px 10px 10px; 
}

#search-form input {
    width: auto;
    min-width: 450px;
    margin: 5px 0px 5px 0px;
    border: 0; /* Makes border disappear */
    outline: 0; /* Makes border disappear when mouse click */
}

.search-box {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: auto;
    max-width: 584px;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.some-buttons {
    height: 70px;
    padding-top: 19px;
    z-index: 0;
}

.some-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.google-offer :link {
    text-decoration: none;
}

.google-offer :hover {
    text-decoration: underline;
}

footer {
    width: 100vw;
    background: #f2f2f2;
    background-attachment: scroll; /* enter comment */
    margin-top: auto; /* Makes top margin auto expand so that element is pushed to the bottom */
}

.user-country {
    padding: 15px 30px;
    border-bottom: 2px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.foot-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.ft {
    flex-grow: 1;
}

.ft a{
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    padding: 15px;
    white-space: nowrap
}

.ft ul {
    padding: 0;
}

.foot-selection-2 {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    border: 1px solid black;
}

.box1 { background: #16a085; }
.box2 { background: #2ecc71; }
.box3 { background: #bdc3c7; }
.box4 { background: #e74c3c; }
.box5 { background: #e67e22; }
.box6 { background: #f1c40f; }
.box7 { background: #3498db; }
