@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

/* Css Style */
html, body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000000;
    opacity: 0.87;
    text-decoration: none;
    margin: 0; /* Removes the space created by the margin */
}

.container {
    display: flex; /* Turn on flexbox */
    flex-direction: column; /* Make direction vertical */
    height: 100vh; /* 100vh means the flexbox will extend to end of screen*/
    align-items: center; /* Makes all content in the flexbox align to center */
}

.nav {
    margin-left: auto; /* Pushes the Navbar to the right because it gave all remaining space to the left margin */
}

.nav-selection {
    display: flex; /* Turn on flexbox */
    flex-direction: row; /* Flex sideways */ 
    align-items: center;
}

.nav-selection a {
    opacity: 0.87;
    color: #000000;
    padding-left: 15px;
}

.nav-selection a:link {
    text-decoration: none;
}

.nav-selection a:hover {
    text-decoration: underline;
}

.google-logo {
    height: 92px;
    width: 272px;
    padding-top: 90px;
    padding-bottom: 30px;
}

.google-mic {
    height: 24px;
    width: 24px;
    padding: 10px 10px 10px 0px;
}

#search-form {
    display: flex;
    flex-direction: row;
}

#search-form span {
    color: #9aa0a6;
    height: 24px;
    width: 24px;
    padding: 10px 0px 10px 10px; 
}

#search-form input {
    width: auto;
    min-width: 450px;
    margin: 5px 0px 5px 0px;
    border: 0; /* Makes border disappear */
    outline: 0; /* Makes border disappear when mouse click */
}

.search-box {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: auto;
    max-width: 584px;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.some-buttons {
    padding-top: 25px;
}

.google-offer {
    padding-top: 10px;
}

footer {
    width: 100vw;
    background: #f2f2f2;
    background-attachment: scroll; /* enter comment */
    margin-top: auto; /* Makes top margin auto expand so that element is pushed to the bottom */
}

.user-country {
    padding: 15px 30px;
    border-bottom: 2px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.foot-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.ft {
    flex-grow: 1;
}

.ft a{
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    padding: 15px;
    white-space: nowrap
}

.ft ul {
    padding: 0;
}